<a href="https://colab.research.google.com/github/namitapashine/Blockverse_Python/blob/main/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to first Python Class")

Welcome to first Python Class

program1: Converting from celcius to Fahrenheit

In [ ]:
#celcius to Fahrenheit
#F = (C * 9/5) + 32
Temperature = int(input())
Temperature = (Temperature * 9/5) + 32
print(Temperature)

25
77.0

Program 2 : Finding the leap year

In [ ]:
def leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

year = int(input("Enter a year: "))
if leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2024
2024 is a leap year.

Program3: Changing height units form cm to inches

In [ ]:
# prompt: cm to inches

height_cm = float(input("Enter height in centimeters: "))
height_inches = height_cm / 2.54
print(f"Height in inches: {height_inches}")